{% extends "base.html" %}

{% block title %}
	HOME
{% endblock title %}


{% block content %}

<div class="container">
      <div class="row">
        <div class="col-16 mx-auto">

			<h1 class="header-color">{{title_msg}} </h1>
			<!-- <a href="{% url 'sections' %}" class="badge badge-info"><h5>{{CV_link}}</h5></a>
			<a href="{% url 'sections' %}" class="badge badge-info"><h5>{{Media}}</h5></a>
			<a href="{% url 'resume' %}" class="badge badge-info"><h5>{{CV_link2}}</h5></a> -->
		</div>
      </div>
</div>
	
{% endblock content %}
	
	
