{% extends "base.html" %}

{% block title %}
	{{CV}}
{% endblock title %}

{% block content %}
<br>
	<div class="container-fluid">
		<div class="row">
			{% for section in mypage_list %}
				<div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex align-items-strech ">
					<div class="card-deck">
				  		<div class="card" style="width: 20rem;" >
				    		<img src="{{section.pic.url}}" class="card-img-top" alt="..." width="100%" height="100%">
					    	<div class="card-body">
					    		<a href="{% url 'details' section.id %}"
						      		<h5 class="card-title">{{section.name}}</h5>
						  		</a>
						      	<p class="card-text">{{section.description}}</p>
						    </div>
					    	<div class="card-footer">
					      		<small class="text-muted">Last updated 3 mins ago</small>
					    	</div>
			  			</div>

					</div>
				</div>

			{% endfor %}
		</div>
	</div>
	
{% endblock content %}

<!-- <div class="card-deck">
  <div class="card">
    <img src="{% url 'details' section.id %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{section.name}}</h5>
      <p class="card-text">{{section.description}}</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div> -->
