.backgd-color {
	/*background-color: #e3f2fd;*/
	background-image: url("bg10.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.header-color {
	color: white;
	text-align: center;
	padding: 10px;
}

.center {
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
}
